*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fraunces" sans-serif;
}
.font-barlow {
    font-family: "barlow" sans-serif;
    font-weight: 600;
}

.text-center{
    text-align: center;
}

.nav {
    background-color: rgb(62 , 190, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.btn-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.btn-menu {
    display: block;
    
}
.menu{
    display: none;
}
.text-xl {
    font-size: 38px ;
}
main {
    background: url("../assets/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    padding-top: 35px;
}

.arrow-down {
    display: block;
    margin: auto;
    height: 160px;
    margin-top: 35px;
}

.bg-egg {
    background: url("../assets/mobile/image-transform.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    }

.container-egg {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    }

.container-egg  > div > h2 {
    font-size: 38px ;
    margin-bottom: 15px;
}

.container-egg > div > p {
    font-size: 18px;
    line-height: 1.5;
    color: hrl(232, 10%, 55%);
}

.link  {
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    color: #000;
    text-decoration:none;
}

.bg-cup {
    background: url("../assets/mobile/image-stand-out.jpg");
}

.bg-cherry{
    background: url("../assets/mobile/image-graphic-design.jpg");
    height: 80vh;
    align-items: flex-end;
}
.bg-cherry > div {
    margin-bottom: 80px;
}

.bg-cherry > div > h2{
    margin-bottom: 20px;
    color: hsl(167, 40%, 24%);
}

.img-orange{
    position: absolute;
}

.container.orange{
    position: relative;
}
/* sm */
@media (min-width: 640px){
    h1 {
        color: red;
    }
}

/* md */
@media (min-width: 768px){
    h1 {
        color: green;
    }
}

/* lg */
@media (min-width: 1024px){
    h1{
        color: yellow;
    }
}

/* xl */
@media (min-width: 1288px){
   main {
    background: url("../assets/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.btn-menu{
    display: none;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
    font-family: "Barlow" ,sans-serif;
}

.menu > li > a {
    text-decoration: none;
    color: #fff;
}

.menu > li:last-child {
    background-color: #fff;
    padding: 10px;
    border-radius: 24px;
}
.menu > li:last-child > a {
    color: #000;
    font-family: "Fraunces";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.section-egg {
    display: flex;
    flex-direction: row-reverse;
    height: 70vh;
}
.bg-egg {
    flex: 1;
    background: url("../assets/desktop/image-transform.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.container-egg{
    flex: 1;
    padding: 0;
    height: 100%;
    ;
}

}

/* 2xl */
@media (min-width: 1536px){
    h1 {
        color: violet;
    }
}
